* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #121F2F;
}

.preloader{
    background: #121F2F;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.preloader>img{
    position: absolute;
    width: 10vw;
    justify-content: start;
    margin-right: 53vw;
    margin-top: 12.5vw;
    animation: img-load 1.3s forwards cubic-bezier(0,0,0,0);
}

.text-loading{
    color:#F7B176;
    margin-bottom: 10vw;
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: 1vw;
    font-family: Raleway-semiBold;
}   

.load{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.load .line-loading{
    padding: 2px;
    width: 60%;
    height: 20px;
    border-radius: 20px;
    border: 5px solid #666F98;
}
.load .line-loading .line{
    height: 20px;
    border-radius: 20px;
    width: auto;
    background-color: #F7B176;
    animation: load 1.3s forwards cubic-bezier(0,0,0,0);
}

@keyframes load {
    0%{
        width: 0%;
    }
    10%{
        width: 15%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 25%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 53%;
    }
    70%{
        width: 55%;
    }
    80%{
        width: 70%;
    }
    90%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}

@keyframes img-load {
    0% {
        margin-right: 50vw;
    }
    10% {
        margin-right: 38vw;
    }
    20% {
        margin-right: 30vw;
    }
    30% {
        margin-right: 27vw;
    }
    40% {
        margin-right: 8vw;
    }
    50% {
        margin-right: -3vw;
    }
    60% {
        margin-right: -9vw;
    }
    70% {
        margin-right: -13vw;
    }
    80% {
        margin-right: -28vw;
    }
    90% {
        margin-right: -52vw;
    }
    100% {
        margin-right: -65vw;
    }
}

.body-container{
    width: 100vw;
    overflow-x: hidden;
}

.navcontainer{
    display: flex;
}

.wrapper {
    display: flex;
    position: fixed;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6vw;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.7), rgb(18, 31, 47, 0.7));
}

.brand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo img{
    max-width: 3.5vw;
    max-height: 3.5vw;
    margin-left: 2.5vw;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: relative;
}

.navigation > li{
    padding: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navigation > li > a{
    font-size: clamp(12px, 2vw, 32px);
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.spacing {
    margin-right: 2vw;
}

.navigation > li > a:hover{
    color: #F7B176;
}

.aktif {
    border-bottom: 3px solid #F7B176;
}

.tombol{
    display:none;
    color:white;
    font-size: 14pt;
}
.tombol:hover{
    cursor:pointer;
}

.img-container {
    width: 100%;
    height: fit-content;
} 

.judul-event-banner {
    position: absolute;
    width: 80vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

.event-banner-title {
  
    font-size: 4vw;
    color: white;
    z-index: 2;
    margin-top: 2vw;
    margin-left: 5vw;
}

.judul-event-banner > p.desc {
    z-index: 2;
}

.background-navbar-img {
    width: 100%;
    height: 40vw;
}

.blurring {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    filter: brightness(60%);
}

.blurring img:hover {
    filter: blur(0.3vw);
    transition: all 0.3s ease-in-out;
}

.desc-event {
    position: absolute;
    z-index: 2;
    width: 70vw;
    height: 7vw;
}

.desc {
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
    margin-left: 5vw;
    font-style: normal;
}

.button-event {
    width: 12vw;
    height: 3vw;
    display: flex;
    border-radius: 0.5vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #666F98;
    font-size: 2vw;
    font-weight: 500;
    color: white;
    margin-top: 1vw;
    margin-left: 5vw;
}

.click-event {
    text-decoration: none;
}

.img-background {
    width: 100%;
    height: 30vw;
}

.img-banner {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}

.jetelika-circuit {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.circuit-content {
    width: 50vw;
    height: 30vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-content > h1 {
    font-size: 3vw;
    color: white;
    font-family: Raleway-semiBold;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title > h3 {
    font-size: 2vw;
    font-weight: 800;
    color: #F7B176;
    margin-left: 1vw;
    font-family: Raleway-semiBold;
}

.line-content {
    width: 2vw;
    height: 0.4vw;
    background-color: #F7B176;
}

.circuit-img {
    width: 40vw;
    height: 30vw;
    margin-right:2vw;
}

.circuit-img img {
    width: 100%;
}

.circuit-desc {
    width: 50vw;
    height: 20vw;
}

.circuit-desc > p {
    margin-top: 1vw;
    font-size: 1.5vw;
    color: white;
    font-weight: 300;
}

.button-view {
    width: 10vw;
    height: 4vw;
    background-color: #666F98;
    border-radius: 0.7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 1.5vw;
    color: white;
}

.button-view > a {
    text-decoration: none;
}

.button:hover {
    transition: 0.3s ease-in-out;
    color: #F7B176;
}

.ticket-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket-title > h1 {
    font-size: 3vw;
    color: white;
    filter: drop-shadow(-0.5vw 0.5vw 0.2vw rgb(0, 0, 0, 1));
    font-family: Raleway-semiBold;
}

.desc {
    padding: 2vw;
    margin-bottom: 2vw;
}

.desc > p {
    font-weight: 400;
}

.line-top {
    width: 100%;
    height: 0.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
    margin-top: 2vw;
}

.real-line {
    width: 80%;
    height: 0.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 3vw;
}

.container { 
    /* card container */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.card1 {
    position: relative;
    width: 25vw;
    height: 50vw;
    background-color: #666F98;
    
    transition: transform 330ms ease-in-out;
    box-shadow:2vw 2vw 5px #000000;
}

.card1-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.card1:hover{
   transform: scale(1.05);
}

.content-card1 {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    transform: translateZ(1vw);
   
}



.content-card1>li::marker{
    color: #F7B176;
}

.content-card1>li{
    margin-left: 1.5vw;
    font-size: 1.8vw;
    color: aliceblue;
    font-weight: 300;
    margin-bottom: 1vw;
}
.content-card1-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: .6vw;
    transform: translateZ(1vw);

}

.content1-title{
    color: #F7B176;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    font-family: Raleway-semiBold;
}

.button-content{
    background-color: #121F2F;
    border-radius: 0.7vw;
    margin-top: 1vw;
    font-size: 2vw;
    padding: 0.7vw;
    color: aliceblue;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.button-content:hover {
    color: #F7B176;
    transition: 0.3s ease-in-out;
}

.content1-sub-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-weight: bold;
    color: aliceblue;
    align-items: start;
    margin-left: 1.5vw;
    font-size: 1.5vw;
}
/* card 2  */
.card2 {
    position: relative;
    width: 25vw;
    height:50vw;
    background-color: #666F98;
    transition: transform 330ms ease-in-out;
    box-shadow:2vw 2vw 5px #000000;
}

.card2:hover{
    transform: scale(1.05);
}

.card2-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}


.content-card2 {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    transform: translateZ(1vw);
}

.content-card2>li::marker{
    color: #F7B176;
}

.content-card2>li{
    margin-left: 1.5vw;
    font-size: 1.8vw;
    color: aliceblue;
    font-weight: 300;
    margin-bottom: 1vw;
}

.content-card2-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: .6vw;
    transform: translateZ(1vw);

}

.content2-title{
    color: #F7B176;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    font-family: Raleway-semiBold;
}

.content2-sub-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-weight: bold;
    color: aliceblue;
    align-items: start;
    margin-left: 1.5vw;
    font-size: 1.5vw;
}

/* Card 3 */
.card3 {
    position: relative;
    width: 25vw;
    height: 50vw;
    background-color: #666F98;
    transition: transform 330ms ease-in-out;
    box-shadow:2vw 2vw 5px #000000;
}


.card3:hover{
    transform: scale(1.05);
}

.card3-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.content-card3 {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    transform: translateZ(1vw);
}

.content-card3>li::marker{
    color: #F7B176;
}

.content-card3>li{
    margin-left: 1.5vw;
    font-size: 1.8vw;
    color: aliceblue;
    font-weight: 300;
    margin-bottom: 1vw;
}

.content-card3-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: .6vw;
    transform: translateZ(1vw);

}

.content3-title{
    color: #F7B176;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    font-family: Raleway-semiBold;
}

.content3-sub-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-weight: bold;
    color: aliceblue;
    align-items: start;
    margin-left: 1.5vw;
    font-size: 1.5vw;
}

.footer {
    width: 100%;
    height: 25vw;
    display: flex;
    margin-top: 5vw;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #121F2F, #121F2F,#000000);
}

.logo-footer {
    width: 20vw;
    height: 20vw;
    margin-left: 6.5vw;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content-top {
    width: 70vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-findUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    height: 10vw;
}

.find-us {
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    margin-top: -4.5vw;
}

.find-us-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.link-1 {
    width: 3vw;
    height: 3vw;
    background-color: #464646;
    border-radius: 0.7vw;
}

.wa {
    width: 100%;
    height: 100%;
}

.link-2 {
    width: 3vw;
    height: 3vw;
    background-color: #464646;
    border-radius: 0.7vw;
}

.twitter {
    width: 100%;
    height: 100%;
}

.link-3 {
    width: 3vw;
    height: 3vw;
    background-color: #464646;
    border-radius: 0.7vw;
}

.ig {
    width: 100%;
    height: 100%;
}

.footer-GPSeries {
    width: 15vw;
    height: 10vw;
}

.gp-series {
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
    margin-bottom: 1vw;
}

.gp-series-content > a {
    font-size: 1.15vw;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
}

.gp-series-content1 {
    margin-bottom: 0.5vw;
}

.footer-experiences {
    width: 15vw;
    height: 10vw;
}

.experiences {
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
    margin-bottom: 1vw;
}

.experiences-content > a {
    font-size: 1.15vw;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
}

.experiences-content1 {
    margin-bottom: 0.5vw;
}

.footer-content-bottom {
    width: 70vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.footer-ourPartner {
    width: 15vw;
    height: 10vw;
    margin-left: 4.15vw;
}

.our-partner {
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-ourPartner img {
    margin-left: 1.5vw;
    width: 100%;
}

.footer-enduranceSeries {
    width: 15vw;
    height: 10vw;
    margin-left: 8.35vw;
}

.endurance-series {
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
    margin-bottom: 1vw;
}

.endurance-content > a {
    font-size: 1.15vw;
    font-weight: 300;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
}

.footer-line {
    width: 100%;
    height: 0.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.line {
    width: 90%;
    height: 0.2vw;
    background-color: rgb(221, 221, 221, 0.75);
    border: none;
    z-index: 100;
}

.footer-copyright {
    width: 100%;
    height: 3vw;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bot-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5vw;
}

.footer-bot-left > p {
    font-size: 1vw;
    font-weight: 500;
    color: rgb(221, 221, 221, 0.75);
}

.footer-bot-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    margin-right: 5vw;
}

.footer-bot-right > a {
    font-size: 1vw;
    font-weight: 500;
    color: rgb(221, 221, 221, 0.75);
}

.term-of-use {
    margin-right: 3vw;
}

@media screen and (max-width: 820px){
    .text-loading{
        color:#F7B176;
        transform: translateY(-30vw);
        font-size: 4vw;
        font-weight: bold;
        letter-spacing: 1vw;
    }

    .preloader>img{
        position: absolute;
        width: 20vw;
        justify-content: start;
        margin-right: 53vw;
        margin-top: 12.5vw;
        animation: img-load 1.3s forwards cubic-bezier(0,0,0,0);
        transform: translateY(-30vw);
        z-index: 1;
    }

    .load{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-30vw);
    }
    .load .line-loading{
        padding: 2px;
        width: 60%;
        height: 20px;
        border-radius: 20px;
        border: 5px solid #666F98;
    }
    .load .line-loading .line{
        height: 20px;
        border-radius: 20px;
        width: auto;
        background-color: #F7B176;
        animation: load 1.3s forwards cubic-bezier(0,0,0,0);
    }
    
    @keyframes load {
        0%{
            width: 0%;
        }
        10%{
            width: 15%;
        }
        20%{
            width: 20%;
        }
        30%{
            width: 25%;
        }
        40%{
            width: 40%;
        }
        50%{
            width: 50%;
        }
        60%{
            width: 53%;
        }
        70%{
            width: 55%;
        }
        80%{
            width: 70%;
        }
        90%{
            width: 90%;
        }
        100%{
            width: 100%;
        }
    }
    
    @keyframes img-load {
        0% {
            margin-right: 50vw;
        }
        10% {
            margin-right: 36vw;
        }
        20% {
            margin-right: 26vw;
        }
        30% {
            margin-right: 24vw;
        }
        40% {
            margin-right: 6vw;
        }
        50% {
            margin-right: -8vw;
        }
        60% {
            margin-right: -15vw;
        }
        70% {
            margin-right: -17vw;
        }
        80% {
            margin-right: -30vw;
        }
        90% {
            margin-right: -54vw;
        }
        100% {
            margin-right: -67vw;
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        max-width: 7vw;
        max-height: 7vw;
    }

    .navigation {
        display: none;
    }

    .tombol {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 10vw;
        font-size: 6vw;
    }

    .wrapper {
        justify-content: space-between;
        height: 10vw;
    }

    .brand {
        margin-left: 20px;
    }

    .navigation.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vw;
        left: 0;
        width: 100%;
        background-color: rgba(18, 31, 47, 0.7) ;
        z-index: 1000;
        height: 40vw;
    }

    .navigation.active li {
        padding: 10px 0;
        text-align: center;
    }

    .navigation.active li a {
        margin-right: 0;
        font-size: 4vw;
        font-weight: 1000;
    }

    .img-background {
        height: 50vw;
    }
   
    .jetelika-circuit{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90vw;
    }
    .circuit-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:84vw ;
    }
    .ticket-title{
        text-align: center;
    }
    .ticket-title>h1{
        font-size: 6vw;
    }
    .desc{
        font-size: 2.5vw;
        width: 70vw;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-right: 5vw;
    }
    .title >h3{ 
        font-size: 4vw;
    }
    .title-content > h1{
        font-size: 6vw;
    }
    .circuit-desc>p{
        width: 84vw;
        font-size: 2vw;
        text-align: justify;
    }
    .button-view{
        margin-top: 3vw;
        width: 20vw;
        padding: 0.5vw;
    }

    .button{
        font-size: 3vw;
    }
    .circuit-img{
        width: 70vw;
        height: 42vw;
    }

    .circuit-desc {
        width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 10vw;
        justify-content: space-between;
        align-items: center;    
    }
    .card1-img,.card2-img,.card3-img{
        height: 40vw;
    }
    .card1{
        position: relative;
        width: 80vw;
        height: 85vw;
        transition: transform 330ms ease-in-out;
        box-shadow: 2vw 2vw 5px #000000;
    }
    .card2 {
        position: relative;
        width: 80vw;
        height: 85vw;
        transition: transform 330ms ease-in-out;
        box-shadow: 2vw 2vw 5px#000000;
    }
    .card3{
        position: relative;
        width: 80vw;
        height: 85vw;
        transition: transform 330ms ease-in-out;
        box-shadow: 2vw 2vw 5px#000000;
    }
    .content-card {
        width: 70%;
        margin: 20px auto; 
        color: white; 
        font-weight: 300; 
    }
    .content1-title,.content2-title,.content3-title{
        font-size: 6vw;
    }
    .content1-sub-title,.content2-sub-title,.content3-sub-title{
        font-size: 3vw;
    }
    .content-card1 >li, .content-card2 >li, .content-card3>li{
        font-size: 2.5vw;
    }
    .content-card1, .content-card2,.content-card3 {
        width: 75vw; 
    }
    .button-content{
        margin-top: 5vw;
        font-size: 5vw;
        padding: 1.5vw;
    }
    .footer{
        height: 130vw;
        flex-direction: column;
    }

    .logo-jete-footer {
        width: 100%;
        height: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        width: 50%;
        height: 50vw;
        display: flex;
        flex-direction: row;
        margin-left: 0.01vw;
    }

    .wa, .twitter,.ig{
        margin-bottom: 6vw;
    }

    .footer-content {
        width: 100%;
        height: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .footer-content-top {
        width: 40vw;
        height: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 3.5vw;
    }

    .footer-findUs {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        width: 40vw;
        height: 20vw;
    }

    .find-us {
        font-size: 4vw;
        color: white;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: 1vw;
        margin-top: 0.01vw;
    }

    .find-us-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .link-1 {
        width: 8vw;
        height: 8vw;
        background-color: #464646;
        border-radius: 0.8vw;
    }
    
    .wa {
        width: 100%;
        height: 100%;
    }
    
    .link-2 {
        width: 8vw;
        height: 8vw;
        background-color: #464646;
        border-radius: 0.8vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .twitter {
        width: 100%;
        height: 100%;
    }
    
    .link-3 {
        width: 8vw;
        height: 8vw;
        background-color: #464646;
        border-radius: 0.8vw;
    }
    
    .ig {
        width: 100%;
        height: 100%;
    }

    .footer-GPSeries {
        width: 40vw;
        height: 20vw;
    }
    
    .gp-series {
        font-size: 4vw;
        color: white;
        font-weight: 500;
        margin-bottom: 1vw;
    }
    
    .gp-series-content > a {
        font-size: 2.2vw;
        font-weight: 300;
        text-decoration: none;
        color: rgb(255, 255, 255, 0.7);
    }
    
    .gp-series-content1 {
        margin-bottom: 0.5vw;
    }
    
    .footer-experiences {
        width: 40vw;
        height: 20vw;
    }
    
    .experiences {
        font-size: 4vw;
        color: white;
        font-weight: 500;
        margin-bottom: 1vw;
    }
    
    .experiences-content > a {
        font-size: 2.2vw;
        font-weight: 300;
        text-decoration: none;
        color: rgb(255, 255, 255, 0.7);
    }
    
    .experiences-content1 {
        margin-bottom: 0.5vw;
    }

    .footer-content-bottom {
        width: 40vw;
        height: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-ourPartner {
        width: 40vw;
        height: 23vw;
        margin-left: 0.01vw;
        margin-top: 2vw;
    }
    
    .our-partner {
        font-size: 4vw;
        color: white;
        font-weight: 500;
        margin-bottom: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    
    .footer-ourPartner img {
        margin-left: 0.01vw;
        width: 60%;
    }
    
    .footer-enduranceSeries {
        width: 40vw;
        height: 20vw;
        margin-left: 0.01vw;
    }
    
    .endurance-series {
        font-size: 4vw;
        color: white;
        font-weight: 500;
        margin-bottom: 1vw;
    }
    
    .endurance-content > a {
        font-size: 2.5vw;
        font-weight: 300;
        text-decoration: none;
        color: rgb(255, 255, 255, 0.7);
    }

    .footer-copyright {
        width: 100%;
        height: 5vw;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer-bot-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 5vw;
    }
    
    .footer-bot-left > p {
        font-size: 2vw;
        font-weight: 500;
        color: rgb(221, 221, 221, 0.75);
    }
    
    .footer-bot-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
        margin-right: 5vw;
    }
    
    .footer-bot-right > a {
        font-size: 2vw;
        font-weight: 500;
        color: rgb(221, 221, 221, 0.75);
    }
    
    .term-of-use {
        margin-right: 3vw;
    }
}